matplotlib      # used in concurance with the matplotlibrc to use webagg
flake8          # norme
Augmentor       # image augmentation library 589M 20 packages
numpy
fastai
tqdm
gradio          # simple web UI
opencv-python   # Open Computer Vision
plantcv         # Plant Computer Vision module
